<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=blog.title%> - 李烈明的博客 -前端开发</title>
	<meta name="description" content="<%=blog.introductionContent%>">
	<link rel="stylesheet" href="/blog/lib/prism/prism.css">
	<link rel="stylesheet" href="/blog/lib/dialog/dialog.css">
	<link rel="stylesheet" href="/blog/lib/bootstrap.min.css">
	<link rel="stylesheet" href="/blog/pages/detail/detail.css">
	<style></style>
</head>
<body>
	
	<div class="pageContainer">
		
		<div class="pageContent">

			<div class="leftArea">
				
			</div>
			<div class="centerArea">
				<div class="pageTop">
					<input type="text" class="form-control titleInput" style="cursor:default;font-weight: bold;font-size: 20px;" value="<%=blog.title%>" disabled readonly name="title" >
					<%if(userName){%>
						<a href="/blog/createBlog/createBlog.html?id=<%=blog['_id']%>" class="f-ml-5">编辑</a>
					<%}%>
				</div>
				<div class="blogContainer" >
					<%-blog.content%>
				</div>
			</div>
			<div class="rightArea">
				
			</div>

		</div>
		
	</div>
	
	
	
	
	
	<script src="/blog/lib/jquery-1.11.3.min.js"></script>
	<script src="/blog/detail/detail.js"></script>
</body>
</html>
